<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ruhani Patel">
    <meta name="keywords" content="Ruhani Patel">
    <meta name="description" content="Ruhani Patel's Professional Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruhani Patel</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Ruhani Patel</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html"> Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
            <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
<div class="main">
    <h2>Curriculum Vitae</h2>
    <table>
        <tr><th>Name</th><th>Description</th></tr>
        <tr><td>Carnegie Mellon University</td><td>Majoring in Information Systems and intending on minoring in Human-Computer Interaction and Product Management</td></tr>
        <tr><td>Centerville High School</td><td>Graduated in 2023 with a 4.9 GPA and participated and led numerous extra curicular activities</td></tr>
    </table>
    <a href = "../static/ruhani_resume.pdf" target = "_blank">My resume, pdf version</a>
</div>
<footer>
    <p id="copyYear">Ruhani Patel &copy;</p>
</footer>