<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ruhani Patel">
    <meta name="keywords" content="Ruhani Patel">
    <meta name="description" content="Ruhani Patel's Professional Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruhani Patel</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Ruhani Patel</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html"> Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
            <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"> </h2>
        <img class="classA" src = "../static/photo_of_me.png" alt = "Ruhani Patel Profile Image" width = "350px">
            <div class="classA">
                <p>
                <span id="shortIntro">I am a student at CMU studying Information Systems, and</span>
                <span id="readMore">read more...</span>
                <span id="longIntro">intending on minoring in Human-Computer Interaction and Product Management.</span>
                <span id="readLess">read less</span>
            </p>
            </div>       

    </div>
    <footer>
        <p id="copyYear">Ruhani Patel &copy;</p>
    </footer> 

</body>
</html>